#header {
	width: 900px;
	height: 181px;
	background-image: url(../images/header.jpg);
	margin: 0 auto;
	position: relative;
}

#header .blank {
	height: 93px;
}

#header .blank #container {
	width:500px;
	height:820px;
	margin:0 auto;
}
#header .blank #container div.search {
	padding:10px 0;
}
#header .blank #container div.search form {
	position:relative;
	width:300px;
	margin:40px auto;
}
#header .blank #container div.search form input,button {
	border:none;
	outline:none;
}
#header .blank #container div.search form input {
	width:100%;
	height:42px;
	padding-left:13px;
}
#header .blank #container div.search form button {
	height:42px;
	width:42px;
	cursor:pointer;
	position:absolute;
}
/*ËÑË÷¿ò*/
     
#header .blank #container .bar input {
	border-radius:5px;
	background:transparent;
	top:0;
	right:0;
}
#header .blank #container .bar button {
	background:#d3886a;
	border-radius:0 5px 5px 0;
	width:60px;
	top:0;
	right:0;
}
#header .blank #container .bar button:before {
	content:"Go";
	font-size:13px;
	color:#F9F0DA;
}

#login {
	float: right;
	margin-bottom: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #d3886a;
	font-size: small;
}

#login input {
	color: white;
	background-color: transparent;
	border-radius: 5px;
	height: 20px;
	margin-top: 4px;
}

#login #denglu {
	float: right;
	margin-right: 1px;
	margin-top: 1px;
	font-family: fantasy;
}

#login #denglu input {
	font-family: fantasy;
	text-align: center;
	padding-top: 0;
	color: white;
}

#menu {
	width: 628px;
	height: 30px;
	margin-top: 65px;
	color: white;
	font-size: small;
	padding:0;
}

#menu a {
	text-decoration: none;
	color: white;
	margin: 0;
	padding:0;
}

#menu a:hover {
	color: #f7a849;
}

.selected {
	color: #f7a849;
}
ul, li { list-style:none;}

#menu ul {
	list-style: none;
}

#menu ul li {
	list-style: none;
	display: inline;
	margin-right: 30px;
}

#menu .selected {
	color: #f7a849;
}
#menu ul li:hover ul{ display:block; }

#menu ul li ul {
	position:absolute;
	 display:none;
	 margin:0px auto auto 155px;
	 padding-top:10px;
}

#menu ul li ul li{
		display:block;
		float:none;
		list-style: none;
}

#menu ul li ul li a{
	text-decoration: none;
	color:#795636;
}
#menu ul li:hover ul{ display:block; }

#header .welcome {
	position: absolute;
	right: 10px;
	bottom: 35px;
	font-family: Ó×Ô², cursive;
	font-size: 15px;
	font-weight: bold;
}

.welcome a:LINK {
	color: black;
}

.welcome a:VISITED {
	color: black;
}

.welcome a:hover {
	color:white;	
}