.pagination
{
    width: 420px;
    padding: 5px;
    margin: 20px 5px;
    text-align: center;
    /*clear: both;*/
    float:left;
    font-size: 10px;
}
div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    color: #ccc;
}
div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #795636;
    font-weight: bold;
    background-color: #795636;
    color: #FFF;
}
.pagination a
{
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #795636;
    text-decoration: none;
    color: #795636;
}
.pagination .noborder
{
    border:0px;
}

.pagination ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}