<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.vicp.zyl_me.dao.UserDao">
    <resultMap id="UserMap" type="net.vicp.zyl_me.model.UsersBean">
        <id property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="truename" column="truename" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="usertype" column="usertype" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getUser" resultType="net.vicp.zyl_me.model.UsersBean" parameterType="String">
        select * from users where username = #{username} and usertype = #{usertype}
    </select>
    <select id="getAllUsers" resultType="net.vicp.zyl_me.model.UsersBean">
        select * from users
    </select>
    <insert id="addUser" parameterType="net.vicp.zyl_me.model.UsersBean">
        insert into
        users(
          username,
          password,
          truename,
          email,
          phone,
          address,
          usertype
        )
        values(
          #{user.username},
          #{user.password},
          #{user.truename},
          #{user.email},
          #{user.phone},
          #{user.address},
          #{user.usertype}
        )
    </insert>
</mapper>